<!DOCTYPE html>
<html>
<head>
    <title>{{ topic.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}">
</head>
<body>
    <h1>{{ topic.title }}</h1>
    <p>{{ topic.description }}</p>
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
            <li>{{ post.message }} by {{ post.created_by.username }} on {{ post.created_at }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_post' topic.pk %}">Add a new post</a>
</body>
</html>
